<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Message</title>
    <link rel="stylesheet" type="text/css" href="css/viewstyles.css" />
</head>
<body>
    <div align='center'>
	    <h2 style="color:maroon"><%= description %></h2>    
        <br>
        <form action="/signout" method="post">
            <button type="submit">SignOut</button>
        </form>             
    </div>
</body>
</html>