<!DOCTYPE html>
<html>
<head>
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="css/viewstyles.css" />
</head>
<body>
    
	    <div align="center">
            
            <br>
            <img align="center" src="img/medical.png" alt="Logo">
            <br>
            <br>
            <a href="/signup">Nurse Sign Up</a>
            <br>
            <br>
            <a href="/signin">Nurse Sign In</a>
            <br>
            <br>
            <a href="/patientSignup">Patient Sign Up</a>
            <br>
            <br>
            <a href="/patientSignIn">Patient Sign In</a>
            <br>
            
        </div>
                
</body>
</html>