<!DOCTYPE html>
<html>
<head>
    <title>Nurse Sign In</title>
    <link rel="stylesheet" type="text/css" href="css/viewstyles.css" />
</head>
<body>

    <h2 align="center">Nurse Sign In</h2>
    <form action="/signin" method="post">
        <table align="center">
            <tr>
                <td><b>Email</b></td>
                <td><input type="text" class="fields" name="email" /></td>
            </tr>
            <tr>
                <td><b>Password</b></td>
                <td><input type="password" class="fields" name="password" /></td>
            </tr>
        </table>
        <br>
        <div align="center">
            <button type="submit" class="form-field-no-caption">Sign In</button>
        </div>
    </form>
    <br>
    <div align="center">
        <a href="http://localhost:3000" >Return to the Main Page</a>
    </div>

</body>
</html>