<!DOCTYPE html>
<html>
<head>
    <title>Patient Page</title>
    <link rel="stylesheet" type="text/css" href="css/viewstyles.css" />
</head>
<body>

    <h2>:: Welcome HOME ::</h2>
    <h2 align="center" style="color: green;"><%= description %></h2>
    <h2 align="center">Enter Daily Information of Vital Signs</h2>
    <br>
    <form action="/sendEmergencyAlert" method="POST">
        <table align="center">
            <tr>
                <td style="color: red;"><b>Send Emergency Alert</b></td>
                <td><input type="text" class ="fields" name="email" placeholder="Enter Email ID of nurse"/></td>                
            </tr>
            <tr>
                <td colspan="2"><input type="text" class ="fields" name="alertMessage" placeholder="Enter Emergency message for nurse here"/></td>
            </tr>
        </table>
        <br>
        <div align="center">
            <button type="submit" class="form-field-no-caption">Send</button>
        </div>
    </form>   
    <br>
    <form action="/addDailyVitalSigns" method="post">
        <table align="center">                    
            <tr>
                <td><b>Body Temperature (in Fahrenheit)</b></td>
                <td><input type="number" class ="fields" name="bodyTemperature" /></td>
            </tr>
            <tr>
                <td><b>Heart Rate (BPM)</b></td>
                <td><input type="number" class ="fields" name="heartRate" /></td>
            </tr>
            <tr>
                <td><b>Blood Pressure (in mmHg)</b></td>
                <td><input type="text" class ="fields" name="bp" /></td>
            </tr>
            <tr>
                <td><b>Respiratory Rate (BPM)</b></td>
                <td><input type="number" class ="fields" name="respiratoryRate" /></td>
            </tr>     
            <tr>
                <td><b>Confirm your email ID</b></td>
                <td><input type="text" class ="fields" name="email" /></td>
            </tr>   
            <tr>
                <td><b>Created At</b></td>
                <td><input type="date" class ="fields" name="date" /></td>
            </tr>           
        </table>        
        <br>        
        <div align="center">
            <button type="submit" class="form-field-no-caption">Add Symptoms</button>
        </div>        
    </form>
   <br>
    <div align="center">
        <form action="/dailyMotivationalTip" method="post">
            <tr>
                <td><input type="hidden" class ="fields" name="email" value="<%= email %>"/></td>
                <td><button type="submit" class="form-field-no-caption">Access Daily Powerhouse</button></td>
            </tr>
        </form>
    </div>
    <br>
    <div align="center">
        <form action="/signout" method="post">
            <button type="submit">SignOut</button>
        </form> 
    </div>
</body>
</html>